@import './common/var.scss';
@import './mixins/mixin.scss';

@include b(badge) {
  position: relative;
  left: 0;
  top: 0;
  vertical-align: middle;
  display: inline-block;
  &_content {
    color: $color-white;
    height: $badge-size;
    line-height: $badge-size;
    padding: 0 $badge-padding;
    background-color: $badge-background-color;
    font-size: $badge-font-size;
    border-radius: $badge-radius;
    white-space: nowrap;
    @include on(fixed) {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-50%) translateX(50%);
    }
    @include on(dot) {
      height: 8px;
      width: 8px;
      padding: 0;
      right: 0;
      border-radius: 50%;
    }
  }
}
