@import './common/var.scss';
@import './common//flex.scss';
@import './mixins/button.scss';
@import './mixins/mixin.scss';

@include b(button) {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s;
  font-weight: $button-font-weight;
  border-radius: $button-small-border-radius;
  padding: $button-padding-vertical $button-padding-horizontal;
  font-size: $button-font-size;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  @include b(icon) {
    margin-right: 4px;
  }
  &_default {
    @include button-variant(
      $button-default-font-color,
      $button-default-background-color,
      $button-default-border-color
    );
    &:hover {
      color: $color-primary;
      border-color: $color-primary-light-1;
    }
    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        cursor: not-allowed;
        color: $color-text-secondary;
        background-color: mix($button-default-background-color, $color-white);
        border-color: mix($button-default-border-color, $color-white);
      }
    }
  }
  &_primary {
    @include button-variant(
      $button-primary-font-color,
      $button-primary-background-color,
      $button-primary-border-color
    );
  }
  &_success {
    @include button-variant(
      $button-success-font-color,
      $button-success-background-color,
      $button-success-border-color
    );
  }
  &_warning {
    @include button-variant(
      $button-warning-font-color,
      $button-warning-background-color,
      $button-warning-border-color
    );
  }
  &_danger {
    @include button-variant(
      $button-danger-font-color,
      $button-danger-background-color,
      $button-danger-border-color
    );
  }
  &_text {
    border: none;
    color: $color-text-primary;
    &:hover,
    &:active {
      color: $color-primary;
    }
  }
  &_info {
    @include button-variant(
      $button-info-font-color,
      $button-info-background-color,
      $button-info-border-color
    );
  }
  &_mini {
    @include button-size(
      $button-mini-font-size,
      $button-mini-padding-vertical,
      $button-mini-padding-horizontal,
      $button-small-border-radius
    );
  }
  &_small {
    @include button-size(
      $button-small-font-size,
      $button-small-padding-vertical,
      $button-small-padding-horizontal,
      $button-small-border-radius
    );
  }
  &_medium {
    @include button-size(
      $button-medium-font-size,
      $button-medium-padding-vertical,
      $button-medium-padding-horizontal,
      $button-small-border-radius
    );
  }
  &-group {
    @extend .sv-cc;
    &.row {
      @extend .sv-lr;
      @include button-group('right', 'bottom-left', 'top-right');
    }
    &.column {
      @extend .sv-tb;
      @include button-group('bottom', 'top-right', 'bottom-left');
    }
  }
}
